@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

  /*--yellow:#f9ca24;*/
:root{
  
	 --yellow:rgb(53, 255, 97);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:rgb(103, 173, 185);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
 
html::-webkit-scrollbar{
    width:0;

}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#42474e;
    overflow-x: hidden;
    padding-left: 35rem;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */

}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:rgb(2, 153, 241);
    color:#ffffff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 10px;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(53, 255, 97);;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid rgba(31, 28, 28, 0.267);
    color:rgb(255, 255, 255);
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#111419;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#42474e;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    border-radius: 0.7rem;
}

header .navbar ul li a:hover{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#111419;
    color:#fff;
    font-size: 2rem;
    border-radius: 0.7rem;
    font-family: "Lucida Handwriting", Lucida, Cursive;

}
/*background:var(--yellow)*/
#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
    background: url(../images/Capture.jpg) repeat #fff;

}

.home h3{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
}

.home h1{
    font-size:5rem;
    color:rgb(255, 255, 255);
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:rgb(255, 255, 255);
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#111419;
    color: white;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: rgb(53, 255, 97);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:rgb(2, 153, 241);
    color:rgb(255, 255, 255);
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:rgb(2, 153, 241);
    /* animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite; */

}
/* @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  } */

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 18rem;
    width:29rem;
    border-radius: 1rem;
    margin:1rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(53, 255, 97);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #42474e;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 30px;
    transition: width 0.4s ease-in-out;
  }
/*   
  input[type=text]:focus {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
  } */
  input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(53, 255, 97);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #42474e;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 30px;
    transition: width 0.4s ease-in-out;
  }
  
  /* input[type=email]:focus {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
  } */
  textarea {
    width:100%;
    box-sizing: border-box;
    border: 2px solid rgb(53, 255, 97);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #42474e;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 30px;
    transition: width 0.4s ease-in-out;
  }
  input{
    padding: 10px;
    margin: 5px;
  }
  textarea {
    padding: 10px;
    margin: 5px;
  }
  /* textarea:focus {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
  } */
.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:2.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}



.tab {
    overflow: hidden;
    /*border: 1px solid var(--yellow);*/
    background-color: rgb(2, 153, 241);
    
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .tab button.active {
    background-color: rgb(255, 255, 255);
  }
  
  /* .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--yellow);
    border-top: none;
  } */
  
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
  .topright:hover {color: red;}




@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }
 .education .box-container .box p{
    font-size: 30px;
 }
 .education .box-container .box h3{
    font-size:  40px;
 }
    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }
